@media (max-width: 1200px){
    body{
        font-size: 22px;
    }
    .item:nth-of-type(5){
        width: 120%;
    }
    .item:nth-of-type(2){
        margin-left: 7em;
    }
    .item:nth-of-type(3){
        margin-left: 10.5em;
    }
    .item:nth-of-type(4){
        margin-left: 7em;
    }
}
@media (max-width: 1050px){
    body{
        width: 100vh;
        font-size: 22px;
    }
    .item:nth-of-type(5){
        width: 110%;
    }

    .item:nth-of-type(5){
    width: 120%;
    }
    .item:nth-of-type(2){
    margin-left: 10em;
    }
    .item:nth-of-type(3){
    margin-left: 10.5em;
    width: 89%;
    }
    .item:nth-of-type(4){
    margin-left: 7em;
    }
    .detail{
        height: 24.5em;
    }    
}
@media (max-width: 800px){
    .container{
    width: 100%;
    display: grid;
    grid-template-columns: [line1] 1fr [line2]20fr[line3] 1fr [line4];
    grid-template-rows: [liner1] 1fr [liner2] 2fr[liner3] 3fr [liner4] 3fr [liner5] 1fr [liner6];
    }
    .item:nth-of-type(1){
        grid-column: line1 / line4;
        grid-row: liner1 / liner2;
    }
    .item:nth-of-type(2){
       visibility: hidden;
    }
    .item:nth-of-type(3){
        grid-column: line2 / line3;
        grid-row: liner3 / liner4;
        margin-top: -21em;
        margin-left: -0.5em;
        width: 121%;
    }
    .item:nth-of-type(4){
        grid-column: line2 / line3;
        grid-row: liner4 / liner5;
        display: inline;
        margin-top: -8em;
    }
    .item:nth-of-type(5){
        grid-column: line2 / line3;
        grid-row: liner5 / liner6;
        margin-top: 51em;
    }
    .detail{
        margin-left: -9em;
        width: 145%;
        display: flex;
    }
    .detail_info{
        position: relative;
        top: 2em;
        right: 0em;
        left: 11em;
        bottom: 1em;
        width: 21.6em;
        height: 15.5em;
        border: solid .2em black;
    }
    .detail img{
        width: 30.1em;
        height: 19em;
        margin-top: 0em;
        margin-left: 3em;
        border: solid .2em black;
    }
    .detail_url{
        margin-top: 1em;
        border: solid .2em black;
    }
    .detail_url a{
        font-size: 2em;
    } 
    .slider li a{
        margin-top: -2em;
        font-size: 2em;
    } 
    .slider li h3{
        font-size: 3em;
    }
    .nav_menu {
        margin-right: 10em;
    }
    .logo img{
        margin-left: 6.7em;
    }
    @media (max-width: 650px){
        .container{
        grid-template-columns: 1fr ;
        grid-template-rows: [liner1] 1fr [liner2] 2fr[liner3] 3fr [liner4] 3fr [liner5] 1fr [liner6];
        }
        .item:nth-of-type(1){
            width: 100%;
        }
        .nav_menu {
            margin-right: 2em;
        }
        .logo img {
            margin-left: 3.7em;
        }
        .item:nth-of-type(2){
            width: 55%;
        }
        .item:nth-of-type(3){
            width: 97%;
            margin-left: -0.5em;
        }
        .item:nth-of-type(4){
            width: 59%;
            margin: auto;
            margin-top: -8em;
        }
        .detail img{
            width: 30.1em;
            height: 20em;
            margin: auto;
        }
        .detail_info {
            position: relative;
            top: 2em;
            right: 0em;
            left: -3em;
            bottom: 1em;
            width: 21.6em;
            height: 15.5em;
        }
        .item:nth-of-type(5) {
            width: 96.3%;
        }
    }
    @media (max-width: 500px){

    }


}




