body{
    background-color: whitesmoke;
    margin:0;
    color:rgb(61, 58, 58,);
    font-size: 21px;
    font-family: 'Teko', sans-serif;
}
/* Empieza Layout de página */
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: [line1] 1fr [line2] 10fr [line3] 1fr [line4];
    grid-template-rows: [liner1] 1fr [liner2] 2fr[liner3] 3fr [liner4] 3fr [liner5] 1fr [liner6];
}
.item:nth-of-type(1){
 
    grid-column: line1 / line4;
    grid-row: liner1 / liner2;
    position: fixed;
    top:0%;
    width: 100%; 
}
.item:nth-of-type(2){
    grid-column: line1 / line4;
    grid-row: liner2 / liner3;
    /* background:rgba(61, 58, 58, .7); */
    margin-top: 5em;
    border: none;
}
.item:nth-of-type(3){
    grid-column: line2 / line3;
    grid-row: liner3 / liner4;
    color:gray;
    margin-top: .6em;
    display: flex;
    justify-content: space-between;
    padding: 1em -1em;
}
.item:nth-of-type(4){
    grid-column: line1 / line4;
    grid-row: liner4 / liner5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    padding: 3em;
    border-radius: .4em;
}
.item:nth-of-type(5){
    background-color:royalblue;
    grid-column: line1 / line4;
    grid-row: liner5 / liner6;
}
/* Termina layout de página */
/* Empiezan estilos Navbar */
.navbar{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(61, 58, 58, .7);
    color: white;
    justify-content: space-between;
    align-items: center;
}
.logo img{
width: 305px;
height: 325px;
margin-bottom: -150px;
margin-top: -80px;
margin-left: 55px;
}
.nav_menu{
    margin-right: 35px;
}
.navbar ol {
    display: flex;
    height: inherit;
    list-style: none;
    margin-left: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    height: inherit;
    align-items: center;
    display: flex;
    padding: 0px 10px;  
}
.navbar a:hover{
    color:#e762b3;
    font-weight: bold;
    border-left: .2em solid #e762b3;
    border-right: .2em solid #e762b3;
}
/* Terminan Estilos Navbar */
/* Comienzan estilos Hero */
.hero{
    display: flex;
    width: 100%;
    height: 10.4em;
    background:url(images/hero22.png);
    background-repeat: no-repeat; 
    background-size: 70em; 
    background-position: 0% 33%;
    border-bottom: solid .1em  gray;
    margin:auto;
    padding: auto;

}
.content_hero h1{
margin-left: 2.7em;
color: whitesmoke;
font-size: 2em;
-webkit-text-stroke: .03em black;
}
.hero_image img{
    width: 8.5em;
    height: 8.5em;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 1.5em;
    box-shadow: 0px 0px 1em .5em #5ce1e6;
    border-radius: 50%;
}
/* Terminan estilos del Hero */
/* Comienzan estilos de destacado */
.destacado {
    width: 24em;
    height: 25em;
    box-shadow: 0px 0px 1em .5em gray;
    border-radius: .4em;
    margin-bottom: 1em;
    padding: .2em;
    background: whitesmoke;
    align-items: center;
    
}
.destacado_title {
    background: url(images/blogimage1.jpg);
    background-size: 10em;
    background-repeat: no-repeat;
    width: 10em;
    height: 5em;
    font-size: 2em;
    margin: .6em;
    margin-right: 2em;
    text-align: center;
    color: whitesmoke;
    -webkit-text-stroke: .03em black;
    border-radius: 5%;
}
.destacado_titleTwo {
    background: url(images/blogimage2.jpg);
    background-size: 10em;
    background-repeat: no-repeat;
    width: 10em;
    height: 5em;
    font-size: 2em;
    margin: .6em;
    margin-right: 2em;
    text-align: center;
    color: whitesmoke;
    -webkit-text-stroke: .03em black;
    border-radius: 5%;
}
.destacado_url{
    width: 7em;
    height: 1.5em;
    margin: .5em;
    margin-left: 6em;
    border: solid .04em black; 
    border-radius: .4em;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    text-align: center;
}
.destacado_url:hover{
    width: 7.1em;
    height: 1.5em;
    margin: .5em;
    margin-left: 6em;
    border: solid .05em black; 
    box-shadow: 0px 0px 1em .5em #e762b3;
    border-radius: .4em;
    text-decoration: none;
    color: black;
    font-size: 1.05em;
    text-align: center;

}
.destacado_url a{
    text-decoration: none;
    color:black;
    font-size: 1em;
    align-self: center;
}
.destacado_details{
    width: 25em;
    margin-left: 1.3em;
}
.destacado_description{
    font-size: 1em;
    width: 20em;
    margin: auto;
    margin-right: 4em;
}  
/* Terminan estilos de destacado */
/* Comienzan estilos de Contenidos */
.content{
    margin:1.5em auto;
    padding-top: 1em;
}
.detail {
    margin-top: 1em;
    box-shadow: 0px 0px 1em .5em gray;
    border-radius: 0.5em;
    margin: -1.5em auto 0 auto;
    width: 24.7em;
    height: 22.5em;
    overflow: hidden;
    flex-shrink: 0;
    background-color:whitesmoke;
}

.detail img {
    border-radius: .5em;
    width:21.1em;
    height: 12em;
    
}
.detail_info {
    width: 17.6em;
    height: 11.5em;
    margin: 0.9em 1.8em;
    background-color:whitesmoke;
    /* box-shadow: 0px 0px 1em .5em #5ce1e6; */
    border: solid .05em black; 
    border-radius: .5em;
    margin-left: 2.7em;
    position: relative;
    top:-6em;
    right:1em;
    bottom:1em;
    left:0em;
    padding: 0.9em;
    text-align: center;
}
.detail_description {
    text-align: left;
}
.detail_title{
    margin-top: 1em;
}
.detail_url{
    margin:auto;
    width: 12em;
    border: solid .1em black; 
    border-radius: .4em;
    text-align: center;
}
.detail_url a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.detail_url:hover{
    border: solid .05em black; 
    box-shadow: 0px 0px 1em .5em #e762b3;
    border-radius: .4em;
    text-decoration: none;
    color: black;
    font-size: 1.05em;
}
/* Terminan estilos destacados */
/* Comienzan estilos contact section */