body{
    background-color: whitesmoke;
    margin:0;
    color:rgb(61, 58, 58,);
    font-size: 21px;
    font-family: 'Teko', sans-serif;
}
/* Empieza Layout de página */
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: [line1] 1fr [line2] 10fr [line3] 1fr [line4];
    grid-template-rows: [liner1] 1fr [liner2] 2fr[liner3] 3fr [liner4] 3fr [liner5] 1fr [liner6];
}
.item:nth-of-type(1){
    grid-column: line1 / line4;
    grid-row: liner1 / liner2;
    position: fixed;
    top:0%;
    width: 100%; 
    display: flex;
    width: 100%;
    height: 5em;
    background: rgba(61, 58, 58, .7);
    color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid .2em #e762b3;
    margin-bottom:5em;
}
.item:nth-of-type(2){
    grid-column: line2 / line3;
    grid-row: liner2 / liner3;
    border: none;
    width: 78%;
    height: 16.4em;
    margin-left: 6em;
    background:url(images/banner.png);
    background-repeat:no-repeat; 
    background-size: cover; 
    background-position: 25% 50%;
    /* background: whitesmoke; */
    box-shadow: 0px 0px 1em .5em gray;
    margin-top: 7em;
    padding: auto;
    margin-bottom: 1em;
    border-radius: 2em;
}
.item:nth-of-type(3){
    grid-column: line2 / line3;
    grid-row: liner3 / liner4;
}
.item:nth-of-type(4){
    grid-column: line1 / line4;
    grid-row: liner4 / liner5;
    height: 50em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    padding: 3em;
    border-radius: .4em;
    margin-top: 15em;
}
.item:nth-of-type(5){
    grid-column: line1 / line4;
    grid-row: liner5 / liner6;
    background: rgba(61, 58, 58, .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Termina layout de página */
/* Empiezan estilos Navbar */
.logo img{
width: 15em;
height: 15.5em;
margin-bottom: 0.5em;
margin-top: 3.5em;
margin-left: 2.7em;
}
.nav_menu{
    margin-right: 35px;
}
.navbar ol {
    display: flex;
    height: inherit;
    list-style: none;
    margin-left: 10px;
}
.navbar a {
    font-size: 1.1em;
    color: whitesmoke;
    text-decoration: none;
    align-items: center;
    display: flex;
    padding: 0px 10px;  
}
.navbar a:hover{
    color:#e762b3;
    font-weight: bold;
    border-left: .2em solid #e762b3;
    border-right: .2em solid #e762b3;
}
/* Terminan Estilos Navbar */
/* Comienzan estilos Hero */
.hero_image img{
    width: 8.5em;
    height: 8.5em;
    margin-left: 29em;
    margin-right: 1em;
    margin-top: 5em;
    box-shadow: 0px 0px 1em .5em whitesmoke;
    border-radius: 50%;
    align-self: flex-end;
}
/* Terminan estilos del Hero */
/* Comienzan estilos de destacado */
.slider{
    width: 95%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border-radius: 3em;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: change 10s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider li a{
    width: 8em;
    margin: auto;
    margin-bottom: 2em;
    text-decoration: none;
    background: whitesmoke;
    color: black;
    font-size: 1.1em;
     border: solid .09em black; 
    border-radius: .4em;
}
.slider li a:hover{
    width: 8.5em;
    margin: auto;
    text-decoration: none;
    background: whitesmoke;
    color: black;
    font-size: 1.2em;
    border: solid .09em black; 
    box-shadow: 0px 0px .2em .2em #e762b3;
    border-radius: .4em;
}
ul li div{
    width: 100%;
    height: 15em;
}

@keyframes change {
    0% {margin-left: 0; }
    30% {margin-left: 0; }

    33.3% {margin-left: -100%; }
    60% {margin-left: -100%; }

    63.3% {margin-left: -200%;} 
    93.3% {margin-left: -200%;}
}
.slider1{
    background: url(images/blogimage2.jpg);
    background-size:cover;
    background-position: bottom;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-gap: 60%;
}
.slider2{
    background: url(images/hero.png);
    background-size:cover;
    background-position: bottom;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-gap: 60%;
}
.slider3{
    background: url(images/hero22.png);
    display:grid;
    background-size:cover;
    background-position: bottom;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-gap: 60%;
}
/* Terminan estilos de destacado */
/* Comienzan estilos de Contenidos */
.content{
    margin:1.5em auto;
    padding-top: 1em;
}
.detail {
    margin-top: 1em;
    box-shadow: 0px 0px 1em .5em gray;
    border-radius: 0.5em;
    margin: -1.5em auto 0 auto;
    width: 24.7em;
    height: 22.5em;
    overflow: hidden;
    flex-shrink: 0;
    background-color:whitesmoke;
}

.detail_imageContainer{
    padding: 2em;
}

.detail img {
    border-radius: .5em;
    width:21.1em;
    height: 12em;
    margin-top: 1em;
    
}
.detail_info {
    width: 17.6em;
    height: 11.5em;
    margin: 0.9em 1.8em;
    background-color:whitesmoke;
    /* box-shadow: 0px 0px 1em .5em #5ce1e6; */
    border: solid .05em black; 
    border-radius: .5em;
    margin-left: 2.7em;
    position: relative;
    top:-6em;
    right:1em;
    bottom:1em;
    left:0em;
    padding: 0.9em;
    text-align: center;
}
.detail_description {
    text-align: left;
}
.detail_title{
    margin-top: 1em;
}
.detail_url{
    margin:auto;
    width: 12em;
    border: solid .1em black; 
    border-radius: .4em;
    text-align: center;
}
.detail_url a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.detail_url:hover{
    border: solid .05em black; 
    box-shadow: 0px 0px .2em .2em #e762b3;
    border-radius: .4em;
    text-decoration: none;
    color: black;
    font-size: 1.05em;
}
/* Terminan estilos destacados */
/* Comienzan estilos contact section */
.work{
    margin-left: 5em;
}
.work h1{
    font-size: 1.5em;
    color: #5ce1e6;
}
.icons{
    margin-right: 5em;
}
.icons a{
    text-decoration: none;
}
.icons span::before{
    color: #5ce1e6;
    font-size: 2em;
}

